<?xml version="1.0" encoding="utf-8"?><codeeffects xmlns="http://codeeffects.com/schemas/rule/41" xmlns:ui="http://codeeffects.com/schemas/ui/4"><rule id="789918e7-e93f-45a6-afc1-b887168a7886" webrule="5.0.2.4" utc="2018-10-15T21:31:59.0043" type="CodeEffects.Rule.Core.Demo.Models.Patient, CodeEffects.Rule.Core.Demo, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" eval="false"><name>Regla 2</name><description>Una regla 2</description><definition><if><clause><condition type="equal"><property name="DiastolicPressure" /><expression><add><method name="FuncThree"><property name="FirstName" /></method><value type="numeric">2</value></add></expression></condition></clause><then><method name="Register"><value>Aaaaa</value></method></then></if></definition><format><lines /></format></rule></codeeffects>